In [13]:
import requests
from bs4 import BeautifulSoup

In [31]:
req = requests.get('https://www.tripadvisor.com/ShowTopic-g45963-i10-k7671083-MLife-Las_Vegas_Nevada.html')
soup = BeautifulSoup(req.text, "lxml")

Mlife_trip_advisor1 = []
for post in soup.findAll(attrs={'class' : 'postBody'}):
    Mlife_trip_advisor1.append(post.p)
    
len(Mlife_trip_advisor1)

11

In [33]:
req = requests.get('https://www.tripadvisor.com/ShowTopic-g45963-i10-k7671083-o10-MLife-Las_Vegas_Nevada.html')
soup = BeautifulSoup(req.text, "lxml")

for post in soup.findAll(attrs={'class' : 'postBody'}):
    Mlife_trip_advisor1.append(post.p)
    
len(Mlife_trip_advisor1)

15

In [36]:
req = requests.get('https://www.tripadvisor.com/ShowTopic-g45963-i10-k7025850-M_Life_and_Total_Rewards-Las_Vegas_Nevada.html')
soup = BeautifulSoup(req.text, "lxml")

TR_Mlife = []
for post in soup.findAll(attrs={'class' : 'postBody'}):
    TR_Mlife.append(post.p)
    
len(TR_Mlife)

9

In [37]:
req = requests.get('https://www.tripadvisor.com/ShowTopic-g45963-i10-k10482442-Collection_of_Total_Rewards_Membership_card-Las_Vegas_Nevada.html')
soup = BeautifulSoup(req.text, "lxml")

Total_Rewards_Membership = []
for post in soup.findAll(attrs={'class' : 'postBody'}):
    Total_Rewards_Membership.append(post.p)
    
len(Total_Rewards_Membership)

4

In [38]:
req = requests.get('https://www.tripadvisor.com/ShowTopic-g45963-i10-k7675144-FoundersCard_and_Total_Rewards_Diamond_Status-Las_Vegas_Nevada.html')
soup = BeautifulSoup(req.text, "lxml")

Total_Rewards_Diamond = []
for post in soup.findAll(attrs={'class' : 'postBody'}):
    Total_Rewards_Diamond.append(post.p)
    
len(Total_Rewards_Diamond)

11

In [39]:
req = requests.get('https://www.tripadvisor.com/ShowTopic-g45963-i10-k8910396-VIP_Pass_for_10K_spend_with_TR_VISA_what_do_you_get-Las_Vegas_Nevada.html')
soup = BeautifulSoup(req.text, "lxml")

TR_VISA = []
for post in soup.findAll(attrs={'class' : 'postBody'}):
    TR_VISA.append(post.p)
    
len(TR_VISA)

5

In [40]:
req = requests.get('https://www.tripadvisor.com/ShowTopic-g45963-i10-k10953544-Total_Rewards_Increases_Credits_for_Diamond_Lounge_Access-Las_Vegas_Nevada.html')
soup = BeautifulSoup(req.text, "lxml")

TR_diamond = []
for post in soup.findAll(attrs={'class' : 'postBody'}):
    TR_diamond.append(post.p)
    
len(TR_diamond)

11

In [27]:
y = [1,2,3,4,5,6,7,8,9,10,11]
TR_diamond = []
for pos in y:
    req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k10953544-o%d-Total_Rewards_Increases_Credits_for_Diamond_Lounge_Access-Las_Vegas_Nevada.html" % pos )
    soup = BeautifulSoup(req.text, "lxml")

    for post in soup.findAll(attrs={'class' : 'postBody'}):
        TR_diamond.append(post.p)
    
    TR_diamond[:1]

In [28]:
len(TR_diamond)

121

In [43]:
mlife_military = []
req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k10728760-MLIFE_New_FREE_Military_Veterans_Program_MVP-Las_Vegas_Nevada.html" )
soup = BeautifulSoup(req.text, "lxml")

for post in soup.findAll(attrs={'class' : 'postBody'}):
    mlife_military.append(post.p)
    
len(mlife_military)

11

In [44]:
mlife_general = []
req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k5357364-What_is_mlife-Las_Vegas_Nevada.html" )
soup = BeautifulSoup(req.text, "lxml")

for post in soup.findAll(attrs={'class' : 'postBody'}):
    mlife_general.append(post.p)
    
len(mlife_general)

10

In [45]:
TR_general = []
req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k4518639-Total_Rewards_Comps-Las_Vegas_Nevada.html" )
soup = BeautifulSoup(req.text, "lxml")

for post in soup.findAll(attrs={'class' : 'postBody'}):
    TR_general.append(post.p)
    
len(TR_general)

11

In [51]:
TR_vs_Mlife = []
req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k6721650-Who_should_make_the_switch_Total_Rewards_vs_MLife-Las_Vegas_Nevada.html" )
soup = BeautifulSoup(req.text, "lxml")

for post in soup.findAll(attrs={'class' : 'postBody'}):
    TR_vs_Mlife.append(post.p)
    
len(TR_general)

11

In [52]:
y = [1,2,3]
for pos in y:
    req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k6721650-o%d0-Who_should_make_the_switch_Total_Rewards_vs_MLife-Las_Vegas_Nevada.html" % pos )
    soup = BeautifulSoup(req.text, "lxml")

    for post in soup.findAll(attrs={'class' : 'postBody'}):
        TR_vs_Mlife.append(post.p)
    
len(TR_vs_Mlife)

36

In [56]:
mgm_tr = []
req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k7432956-MGM_Resorts_vs_CET-Las_Vegas_Nevada.html" )
soup = BeautifulSoup(req.text, "lxml")

for post in soup.findAll(attrs={'class' : 'postBody'}):
    mgm_tr.append(post.p)
    
len(mgm_tr)

11

In [58]:
y = [1,2,3]
for pos in y:
    req = requests.get("https://www.tripadvisor.com/ShowTopic-g45963-i10-k7432956-o%d0-MGM_Resorts_vs_CET-Las_Vegas_Nevada.html" % pos )
    soup = BeautifulSoup(req.text, "lxml")

    for post in soup.findAll(attrs={'class' : 'postBody'}):
        mgm_tr.append(post.p)
    
len(mgm_tr)

37

In [60]:
mgm_tr[:1]
TR_vs_Mlife[:1]
TR_general[:1]
mlife_general[:1]
TR_diamond[:1]
TR_VISA[:1]
Total_Rewards_Diamond[:1]
TR_Mlife[:1]
Mlife_trip_advisor1[:1]

In [203]:
import pandas as pd
mgm_tr_df = pd.DataFrame({'comment':mgm_tr, 'post':'mgm_tr' })
TR_vs_Mlife_df = pd.DataFrame({'comment':TR_vs_Mlife, 'post':'TR_vs_Mlife' })
TR_general_df = pd.DataFrame({'comment':TR_general, 'post':'TR_general' })
mlife_general_df = pd.DataFrame({'comment':mlife_general, 'post':'mlife_general' })
TR_diamond_df = pd.DataFrame({'comment':TR_diamond, 'post':'TR_diamond' })
TR_VISA_df = pd.DataFrame({'comment':TR_VISA, 'post':'TR_VISA' })
Total_Rewards_Diamond_df = pd.DataFrame({'comment':Total_Rewards_Diamond, 'post':'Total_Rewards_Diamond' })
TR_Mlife_df = pd.DataFrame({'comment':TR_Mlife, 'post':'TR_Mlife' })
Mlife_trip_advisor1_df = pd.DataFrame({'comment':Mlife_trip_advisor1, 'post':'Mlife_trip_advisor1' })

In [204]:
df = pd.concat([mgm_tr_df, TR_vs_Mlife_df, TR_general_df, mlife_general_df, TR_diamond_df,TR_VISA_df,Total_Rewards_Diamond_df,TR_Mlife_df,Mlife_trip_advisor1_df])

In [205]:
df.head()

                                             comment    post
0            <p>Which one do you prefer and why?</p>  mgm_tr
1  <p>I have stayed at both and really have no pr...  mgm_tr
2  <p>I stay wherever the free rooms are. CET ten...  mgm_tr
3  <p>I prefer MGM hotels over CET. However, I al...  mgm_tr
4  <p>I'm with Rhinoman. We stay wherever we get ...  mgm_tr

In [208]:
df['comment'] = df['comment'].apply(lambda x: x[3:])
df['comment'] = df['comment'].apply(lambda x: x[:-4])

In [209]:
df = df.apply(lambda x: x.astype(str).str.lower())

In [210]:
df.comment.str.contains(r'(?=mlife)').sum() / len(df)

0.18620689655172415

In [211]:
df.comment.str.contains(r'(?=mgm resorts)').sum() / len(df)

0.034482758620689655

In [212]:
df.comment.str.contains(r'(?=cet)').sum() / len(df)

0.28275862068965518

In [213]:
df.comment.str.contains(r'(?=tr)').sum() / len(df)

0.32413793103448274

In [214]:
df.comment.str.contains(r'(?=tr)(?=a)').sum() / len(df)

0.0

In [215]:
import numpy as np
df['cet'] = np.where(df.comment.str.contains('cet'), 1, 0)
df['mlife'] = np.where(df.comment.str.contains('mlife'), 1, 0)
df['mgm resorts'] = np.where(df.comment.str.contains('mgm resorts'), 1, 0)
df['tr'] = np.where(df.comment.str.contains('tr'), 1, 0)
df['total rewards'] = np.where(df.comment.str.contains('total rewards'), 1, 0)
df['caesars entertainment'] = np.where(df.comment.str.contains('total rewards'), 1, 0)

In [216]:
len(df)

145

In [221]:
exclude = ['tripadvisor','auto','_blank','html','g29750']

In [222]:
df = df[~df['comment'].str.contains('|'.join(exclude))]

In [223]:
len(df)

130

In [226]:
from sklearn.feature_extraction.text import CountVectorizer
word_vectorizer = CountVectorizer(ngram_range=(5,7), analyzer='word')
sparse_matrix = word_vectorizer.fit_transform(df['comment'])
frequencies = sum(sparse_matrix).toarray()[0]
trigram = pd.DataFrame(frequencies, index=word_vectorizer.get_feature_names(), columns=['frequency'])

In [228]:
tri_csv = trigram.sort_values('frequency', ascending=False)

In [229]:
tri_csv.to_csv('ngram_tripadvisor.csv')

In [233]:
df.to_csv('trip_advisor.csv')

----

In [125]:
fstack = pd.read_csv('TotalRewards.csv')

In [126]:
fstack = fstack.iloc[:,8]

In [127]:
fstack = fstack.to_frame()

In [128]:
fstack.columns = ['comment']

In [131]:
fstack = fstack.apply(lambda x: x.astype(str).str.lower())

In [155]:
fstack.comment.str.contains(r'(?=cet)').sum() / len(fstack)

0.0012999675008124798

In [156]:
fstack.comment.str.contains(r'(?=total rewards)').sum() / len(fstack)

0.1026974325641859

In [157]:
fstack.comment.str.contains(r'(?=caesars entertainment)').sum() / len(fstack)

0.0029249268768280793

In [234]:
word_vectorizer = CountVectorizer(ngram_range=(5,7), analyzer='word')
sparse_matrix = word_vectorizer.fit_transform(fstack['comment'])
frequencies = sum(sparse_matrix).toarray()[0]
trigram = pd.DataFrame(frequencies, index=word_vectorizer.get_feature_names(), columns=['frequency'])

In [236]:
fs = trigram.sort_values('frequency', ascending=False)

In [237]:
fs.to_csv('formstack_ngram.csv')

In [ ]:
fstack['cet'] = np.where(fstack.comment.str.contains('cet'), 1, 0)
fstack['mlife'] = np.where(fstack.comment.str.contains('mlife'), 1, 0)
fstack['mgm resorts'] = np.where(fstack.comment.str.contains('mgm resorts'), 1, 0)
fstack['tr'] = np.where(fstack.comment.str.contains('tr'), 1, 0)
fstack['total rewards'] = np.where(fstack.comment.str.contains('total rewards'), 1, 0)
fstack['caesars entertainment'] = np.where(fstack.comment.str.contains('total rewards'), 1, 0)

In [250]:
df.columns

Index(['ngram comment', 'frequency', 'cet', 'caesars entertainment', 'mlife',
       'mgm resorts', 'tr', 'total rewards', 'cet tr',
       'caesars entertainment tr', 'mlife mgm resorts', 'cet total rewards',
       'caesars entertainment total rewards', 'mlife tr'],
      dtype='object')

In [282]:
df = pd.read_csv('ngram_tripadvisor.csv')

In [288]:
cet  = df[df['cet'] > 0]
mgm  = df[df['mgm'] > 0]
tr  = df[df['tr'] > 0]
caesars  = df[df['caesars'] > 0]
mlife  = df[df['mlife'] > 0]

In [295]:
sum(tr['cet']) / sum(tr['tr'])

0.01948051948051948

In [292]:
sum(mlife['mgm']) / sum(mlife['mlife'])

0.13441955193482688

In [290]:
sum(tr['total rewards']) / sum(tr['tr'])

0.031168831168831169

In [297]:
sum(mlife['tr']) / sum(mlife['mlife'])

0.012219959266802444

In [266]:
sum(df['total rewards']) / sum(df['cet'])

0.31878787878787879

In [296]:
sum(df['mgm']) / sum(df['frequency'])

0.060055496828752643

In [273]:
sum(df['mgm resorts']) / sum(df['frequency'])

0.0039640591966173359

In [269]:
sum(df['caesars entertainment']) / sum(df['frequency'])

0.0

In [246]:
df.columns

Index(['ngram comment', 'frequency', 'cet', 'caesars entertainment', 'mlife',
       'mgm resorts', 'tr', 'total rewards', 'cet tr',
       'caesars entertainment tr', 'mlife mgm resorts', 'cet total rewards',
       'caesars entertainment total rewards', 'mlife tr'],
      dtype='object')

In [275]:
len(df)

14395